<!-- header -->
<header class="header" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top l-header p-0">
        <div class="container-xl py-2">
            <div class="container">
                <a class="navbar-brand my-0" href="./"><%= commons.sitename %></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarList" aria-controls="navbarList" aria-expanded="false" aria-label="ナビゲーションの切替">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarList">
                <div class="container">
                    <ul class="nav navbar-nav ml-xl-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">霧雨</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">博麗</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">宵闇</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">⑨</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- /header -->